 
  {{ include('yeti/header.html.twig') }}

  <div class="container">  
  <p>If you want to rate Yetis, please enter your email</p>
    {{ form(form) }}
  </div>

  {{ include('yeti/footer.html.twig') }}