  
  {{ include('yeti/header.html.twig') }}

  <div class="container">  
  <h2>Add new one</h2>    
  <p>Did you see another Yeti not from our list? Please tell us everything!</p>

    {{ form(form) }}
  </div>

  {{ include('yeti/footer.html.twig') }}